
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>SonarQube Report</title>


<!-- AngularJS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"/>

<!-- jQuery -->
<script src="scripts/jquery.min.js"></script>

<!-- jQuery Validation -->
<script src="scripts/jquery.validate.min.js"></script>

<!-- jQuery UI -->
<link href="css/jquery-ui.min.css" rel="stylesheet" />
<script src="scripts/jquery-ui.min.js"></script>

<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet" />
<script src="scripts/bootstrap.min.js"></script>

<!-- eShop -->
<link href="css/eshop.css" rel="stylesheet" />

<!-- Resources -->
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/pie.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<!-- Daily Report Resources -->
<link rel="stylesheet" href="css/styles.css">
<script src="scripts/daily-report-angular.js"></script>
<!-- Chart Report Resources -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
		<script src="https://www.amcharts.com/lib/3/serial.js"></script>
		<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
		<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
		<script src="scripts/chart-angular.js"></script>
		<link rel="stylesheet" href="css/styles.css">
		<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />

</head>
<body>
	<div class="container">


		<!-- Header  -->
		<header class="nn-header row">
			<img class="img-responsive" src="images/main-logo.png" />
		</header>
		<!-- End Header  -->


		<!-- Nav  -->
		<div class="navbar navbar-inverse row">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
			</div>
			<div class="navbar-collapse collapse">
				<!--Menu-->
				<ul class="nav navbar-nav">
					<li><a href="index.html"><span
							class="glyphicon glyphicon-home"></span> Trang chủ </a></li>
					
				</ul>
				<!--End Menu-->
			</div>
		</div>
		<!-- End Nav  -->


		<!-- Content  -->
	
		
		
		
		<!-- Chart Report Code -->
				<div ng-app="my-chart" ng-controller="chartCtrl"> 
			<h1>{{chart | uppercase}} CHART</h1>
			<div  ng-if="chart!='all'" id="chart-{{chart}}"></div>
			<div ng-if="chart=='all'">
				<h3>code smell</h3>
				<div id="chart-codesmell"></div>
				<h3>test case</h3>		
				<div id="chart-testcase"></div>
				<h3>coverage</h3>		
				<div id="chart-coverage"></div>
				<h3>tech Debt</h3>		
				<div id="chart-techDebt"></div>
				<h3>vulnerability</h3>		
				<div id="chart-vulnerability"></div>
			</div>
		</div>
		<!-- End Chart Report Code -->
		
		<!-- End Content  -->


		<!-- Footer  -->
		<footer class="panel panel-default row">
			<div class="panel-heading">
				<p class="text-center">SonarQube System Report &copy; 2017. All rights
					reserved.</p>
			</div>
		</footer>
		<!-- End Footer  -->
	</div>
</body>
</html>
