<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: center;
    padding: 8px;
}

th {
    background-color: #0000CC;
    color: white;
}

.metric {
    background-color: yellow;
    color: black;
}
</style>
</head>
<body>

<div ng-app="myApp" ng-controller="dailyReportCtrl"> 


<table border="1">
  <tr>
    <thead>
        <tr>
            <th rowspan="2">ID</th>
            <th rowspan="2">GROUP</th>
            <th rowspan="2">Projects</th>
            <th colspan="5" class="metric">Metrics</th>
        </tr>
        <tr>
            <th>Code Coverage<br>(AVG)</th>
            <th>Test Case<br>(SUM)</th>
            <th>Technical Debt (SUM)<br> MIN | HOUR | DAY</th>
            <th>Code Smell<br>(SUM)</th>
            <th>Vulnerabilities<br>(SUM)</th>
        </tr>
    </thead>
  </tr>
  <tbody>
      <tr ng-repeat="x in myData">
        <td>{{ $index + 1 }}</td>
        <td ng-if="$index==0" rowspan="{{myData.length}}">IPOS</td>
        <td>{{ x.project }}</td>
        <td>{{ x.coverage }}</td>
        <td>{{ x.testcase }}</td>
        <td>{{ x.techDebt }}</td>
        <td>{{ x.codeSmell }}</td>
        <td>{{ x.vulnerability }}</td>
      </tr>
  </tbody>
</table>

</div>

<script>
var app = angular.module('myApp', []);
app.controller('dailyReportCtrl', function($scope, $http) {
  $http.get("daily-report.json").then(function (response) {
      $scope.myData = response.data.records;
  });
});


</script>

</body>
</html>
